* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #eaeaea;
}

header {
    background-color: gainsboro;
    width: 100%;
    height: 70px;
    text-align: center;
    position: sticky;
    top: 0;
    margin-bottom: 4rem;
}

header h1 {
    padding-top: 1rem;
    font-size: 2rem;
    letter-spacing: .45rem;
}

.post-images {
    width: 500px;
    margin: 0 auto;
}

article.feed {
    margin-top: 4rem;
}

h2, p {
    padding: .5rem;
    background-color: ghostwhite ;
    letter-spacing: .1rem;
}

p {
    font-weight: normal;
}

em {
    font-weight: 70;
    position: relative;
    float: right;
    color: grey;
}

img {
    width: 100%;
}

img:hover{
	opacity: .6;
	transition: opacity .5s;
}